asgiref==3.2.7
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.4.5.1
Django==3.0.6
django-markdownify==0.8.0
Markdown==3.2.2
markdownify==0.4.1
mistune==0.8.4
packaging==20.4
Pygments==2.6.1
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
webencodings==0.5.1
wincertstore==0.2
